<div class="h-auto w-full md:pr-[200px] md:pl-[70px] lg:pl-[265px]">
    {% assign min = 1 %}
    {% assign max = 3 %}
    {% assign diff = max | minus: min %}
    {% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}
    {% assign charity = "charity" | append: "-" | append: randomNumber %}
    {{ pages[charity].content }}
</div>